[*.cs]

# SYSLIB1096: Convert to 'GeneratedComInterface'
dotnet_diagnostic.SYSLIB1096.severity = none

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false
